<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gapt.uni.braintrain">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"> <!-- ?-->

        <activity android:name=".Splash">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- considering removing this activity because it has just testing--><activity android:name=".MainMenuActivity" android:screenOrientation="landscape">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:screenOrientation="landscape" android:name=".GameSelectionActivity">
            <!--<intent-filter>
            <action android:name="android.intent.action" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".FactsActivity"></activity>
<activity android:screenOrientation="landscape"
    android:name=".BrainMapActivity"
    android:theme="@style/AppTheme.CustomTheme">
</activity>
        <activity android:name=".PatternGameActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".SoundMatchingGameActivity" android:screenOrientation="landscape"></activity>

    </application>

</manifest>
